doctype html
html
    head
        title Edit Category
        link(rel="stylesheet" href="/styles/custom.css")
    body
        div.container
            a(href="/categories") Back to Categories

            h1 Edit Category
            form(action="/categories/edit" method="POST")
                div.form-group
                input(type="hidden" name="category_id", value=category.category_id)
                div.form-group
                label(for="category_name") Category Name:
                input(type="text" name="category_name", value=category.category_name, required)
                div.form-group
                button(type="submit") Update Category

