h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 18px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead th {
    background-color: #007bff;
    color: #fff;
    text-align: left;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

td,
th {
    border: 1px solid #ddd;
    padding: 10px;
}

td a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

td a:hover {
    text-decoration: underline;
}

.btn{
    background-color: #007bff;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}