* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
}

h1 {
    color: #000;
    background-color: #fff;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 18px;
}

a {
    color: #f087f1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead th {
    background-color: #e8783c;
    color: #fff;
    text-align: left;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

td,
th {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
}

td a {
    color: #911412;
    background-color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

td a:hover {
    text-decoration: underline;
}

.btn {
    background-color: #911412;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #555;
    background-color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #f087f1;
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #e8783c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e8783c;
}

button:active {
    background-color: #e8783c;
}

input::placeholder {
    color: #aaa;
    font-style: italic;
}